<% if(alert.message != ""){ %>
    <div class="alert alert-<%= alert.status %> alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= alert.message %>
    </div>
<% } %>

